@import "tailwindcss";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* Utility classes for animations */
@layer utilities {
  @keyframes float {
    0%, 100% {
      transform: translateY(0px);
    }
    50% {
      transform: translateY(-4px);
    }
  }

  @keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(10px); /* Optional: subtle upward motion */
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}  

@keyframes gradientMove {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.dynamic-background {
  background: linear-gradient(5deg, rgb(204, 212, 212), rgb(156, 177, 175), rgb(134, 167, 178), rgb(148, 173, 176), rgb(200, 211, 210));
  background-size: 400% 400%;
  animation: gradientMove 6s ease-in-out infinite;
}

.fade-in-container {
  animation: fadeIn 1.5s ease-out forwards;
  opacity: 0; /* Initial state */
}


  .animate-float {
    animation: float 3s ease-in-out infinite;
  }

  .animate-pulse-slow {
    animation: pulse 3s cubic-bezier(0.4, 0, 0.6, 1) infinite;
  }
}